@charset "UTF-8";
body {
  background-color: #1b1b1b;
}

h1 {
  color: #fff;
}

.active {
  display: block;
}

.popup {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.popup .popup-in {
  color: #fff;
  align-items: center;
  display: flex;
  margin: 4em auto;
  max-width: 500px;
  min-width: 50%;
  flex-direction: column;
  border-radius: 5px;
  background-color: #1b1b1b;
  border: #888 solid 1px;
}
.popup .popup-in .popup-head {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 0 25px;
}
.popup .popup-in .popup-head .popup-title {
  display: flex;
  margin: 0;
  align-items: center;
  font-weight: bold;
}
.popup .popup-in .popup-head .popup-close {
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  transition: 0.15s;
}
.popup .popup-in .popup-head .popup-close:after {
  content: "×";
}
.popup .popup-in .popup-head .popup-close:hover {
  transition: all 0.15s ease-in;
  opacity: 80%;
}
.popup .popup-in .popup-head .popup-close:active {
  opacity: 60%;
}
.popup .popup-in .popup-body {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 1.2em;
  padding: 25px;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
.popup .popup-in .popup-footer {
  display: flex;
  height: 10%;
  width: 100%;
  padding: 25px;
  justify-content: end;
}
.popup .popup-in .popup-footer button {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  margin: 0.25rem;
  font-size: 1rem;
  transition: 0.15s;
}
.popup .popup-in .popup-footer .popup-btn-close {
  color: #fff;
  background-color: #888;
}
.popup .popup-in .popup-footer .popup-btn-close:hover {
  transition: all 0.15s ease-in;
  opacity: 80%;
}
.popup .popup-in .popup-footer .popup-btn-close:active {
  opacity: 60%;
}
.popup .popup-in .popup-footer .popup-btn-save {
  color: #000;
  background-color: #fff;
}
.popup .popup-in .popup-footer .popup-btn-save:hover {
  transition: all 0.15s ease-in;
  opacity: 80%;
}
.popup .popup-in .popup-footer .popup-btn-save:active {
  opacity: 60%;
}

header {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 15;
}
header .menu-btn {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}
header .menu-btn span {
  width: 2em;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.5s;
}
header .menu-btn span:before {
  content: "";
  width: 2em;
  height: 2px;
  position: absolute;
  top: calc(50% - 10px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.5s;
}
header .menu-btn span:after {
  content: "";
  width: 2em;
  height: 2px;
  position: absolute;
  top: calc(50% + 10px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.5s;
}
header .menu-btn.active span {
  transform: translate(-50%, 0%) rotate(45deg);
}
header .menu-btn.active span:before {
  content: "";
  top: 0;
  transform: translate(-50%, 0%) rotate(90deg);
}
header .menu-btn.active span:after {
  content: "";
  top: 0;
  transform: translate(-50%, 0%) rotate(-90deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #1b1b1b;
  transform: translateX(100%);
  transition: transform 0.5s;
  z-index: 10;
}
.menu li {
  list-style-type: none;
}
.menu.active {
  transform: translateX(0);
}
.menu nav {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.menu nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  padding: 0;
  margin: 0;
}
.menu nav ul li {
  text-align: center;
  margin-bottom: 1rem;
}
.menu nav ul li:last-child {
  margin-bottom: 0;
}
.menu nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  padding: 5px;
}
.menu nav ul li a:hover {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}

.accordionExample .accBtn,
.accordionExample .accBtn-bottom {
  background-color: #888;
  color: #fff;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
  margin-top: 1em;
}
.accordionExample .accBtn:hover,
.accordionExample .accBtn-bottom:hover {
  background-color: #ccc;
  color: #000;
}
.accordionExample .acc-content {
  padding: 0 18px;
  background-color: #fff;
  overflow: hidden;
  display: none;
  border-radius: 0 0 5px 5px;
}
.accordionExample .acc-content p {
  margin: 18px 0;
}
.accordionExample .active {
  background-color: #fff !important;
  color: #000;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid black;
}

.tabsExample,
.tabsExample-bottom {
  background-color: #888;
  border-radius: 5px;
}
.tabsExample .tabButtons,
.tabsExample .tabButtons-bottom,
.tabsExample-bottom .tabButtons,
.tabsExample-bottom .tabButtons-bottom {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.tabsExample .tabLink,
.tabsExample .tabLink-bottom,
.tabsExample-bottom .tabLink,
.tabsExample-bottom .tabLink-bottom {
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #888;
  border: none;
  outline: none;
  color: #fff;
  transition: 0.4s;
}
.tabsExample .tabLink:first-child,
.tabsExample .tabLink-bottom:first-child,
.tabsExample-bottom .tabLink:first-child,
.tabsExample-bottom .tabLink-bottom:first-child {
  border-radius: 5px 0 0 0;
}
.tabsExample .tabLink:last-child,
.tabsExample .tabLink-bottom:last-child,
.tabsExample-bottom .tabLink:last-child,
.tabsExample-bottom .tabLink-bottom:last-child {
  border-radius: 0 5px 0 0;
}
.tabsExample .tabLink:hover,
.tabsExample .tabLink-bottom:hover,
.tabsExample-bottom .tabLink:hover,
.tabsExample-bottom .tabLink-bottom:hover {
  background: #ccc;
  color: #000;
}
.tabsExample .tabContent,
.tabsExample .tabContent-bottom,
.tabsExample-bottom .tabContent,
.tabsExample-bottom .tabContent-bottom {
  border-radius: 0 0 5px 5px;
  display: none;
  padding: 15px;
}
.tabsExample .active,
.tabsExample-bottom .active {
  background-color: #fff !important;
  color: #000;
  display: block;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}
.product .product-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.product .product-container::-webkit-scrollbar {
  display: none;
}
.product .product-container .product-card {
  flex: 0 0 auto;
  width: 290px;
  height: 450px;
  padding: 0 20px;
}
.product .product-container .product-card:hover .card-btn {
  opacity: 1;
}
.product .product-container .product-card:first-child {
  padding-left: 0;
}
.product .product-container .product-card:last-child {
  padding-right: 0;
}
.product .product-container .product-card .product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product .product-container .product-card .product-image .discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  color: #ff7d7d;
  right: 10px;
  text-transform: capitalize;
}
.product .product-container .product-card .product-image .product-thumb {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product .product-container .product-card .product-image .card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.product .product-container .product-card .product-image .card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}
.product .product-container .product-card .product-info {
  width: 100%;
  height: 100px;
  color: #fff;
}
.product .product-container .product-card .product-info .product-brand {
  text-transform: uppercase;
}
.product .product-container .product-card .product-info .product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}
.product .product-container .product-card .product-info .price {
  font-weight: 900;
  font-size: 20px;
}
.product .product-container .product-card .product-info .actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
.product .buttons-slider .pre-btn,
.product .buttons-slider .nxt-btn {
  border: none;
  width: 49%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #888;
  cursor: pointer;
  z-index: 8;
  color: #fff;
  font-size: 2em;
}
.product .buttons-slider .pre-btn:active,
.product .buttons-slider .nxt-btn:active {
  transform: scale(0.95);
}
.product .buttons-slider .pre-btn {
  left: 0;
}
.product .buttons-slider .nxt-btn {
  right: 0;
}

.slider {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
  height: 300px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.slider .control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.slider .prev,
.slider .next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider .prev:active,
.slider .next:active {
  transform: scale(0.8);
}
.slider .prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: -20px;
}
.slider .next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: -20px;
}
.slider .wrapper {
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 300px;
  z-index: 1;
}
.slider .wrapper .slides.shifting {
  transition: left 0.2s ease-out;
}
.slider .wrapper .slides {
  display: flex;
  position: relative;
  top: 0;
  left: -400px;
  width: 10000px;
}
.slider .wrapper .slides .slide {
  width: 400px;
  height: 300px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background: #FFCF47;
  border-radius: 2px;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px #888;
}

.slider.loaded .slide:nth-child(1),
.slider.loaded .slide:nth-child(6) {
  background: #7ADCEF;
}
.slider.loaded .slide:nth-child(3) {
  background: #3CFF96;
}
.slider.loaded .slide:nth-child(4) {
  background: #a78df5;
}
.slider.loaded .slide:nth-child(5) {
  background: #ff8686;
}/*# sourceMappingURL=style.css.map */